/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
}

* ul {
    list-style-type: none;
}

/* Main */

main {
    height: calc(100vh - 90px);
    background-color: #151922;
}

.left-bar {
    height: calc(100vh - 90px);
    width: 57px;
    background-color: #000000;
    padding: 10px 15px 20px 15px;
    
}

.spotify-logo {
    margin-bottom: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px ;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 25px ;
}

div.playlist div {
    display: flex;
    align-items: center;
}

div.playlist div.list-playlist ul {
    color: #949494 ;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

/* Utilities */

.hidden {
    display: none;
}

.hidden-mobile {
    display: block;
}

.add-playlist {
    width: 50px;
    height: 50px;
    background-color: #858585;
    color: #000000;
    font-size: 26px;
    font-weight: bold;
    padding: 12px;
    margin-right: 20px;
}

div.left-bar span {
    color: #949494 ;
}




/* Footer */

footer {
    height: 90px;
    background-color: #282828;
}


@media screen and (min-width: 992px) {

    .left-bar {
        height: calc(100vh - 90px);
        width: 460px;
        background-color: #000000;
        padding: 25px 75px 25px 21px;
        color: white;
    }

    .hidden {
        display: block;
    }

    .hidden-mobile {
        display: none;
    }

    .spotify-logo {
        width: 170px;
    }

    div.left-bar div.menu div {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    div.left-bar div.menu img {
        height: 30px;
    }

    div.left-bar div.menu {
        margin-bottom: 33px;
    }

    div.left-bar h2 {
        margin-bottom: 20px;
        font-size: 32px;
    }
    
}