/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main */

main {
    height: calc(100vh - 90px);
    background-color: #151922;
}

.left-bar {
    height: calc(100vh - 90px);
    width: 57px;
    background-color: #000000;
    padding: 10px 15px 20px 15px;
}

.spotify-logo {
    margin-bottom: 30px;
}

/* Utilities */

.hidden {
    display: none;
}

/* Footer */

footer {
    height: 90px;
    background-color: #282828;
}
