/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
}

* ul {
    list-style-type: none;
}

/* Main left-bar */

main {
    height: calc(100vh - 90px);
    background-color: #151922; 
    display: flex;
    flex-direction: row;
}

.left-bar {
    width: 50px;
    height: calc(100vh - 90px);
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 5px 0;
}

.spotify-logo {
    width: 30px;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px ;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 20px ;
}

div.playlist div {
    display: flex;
    align-items: center;
}

div.playlist div.list-playlist ul {
    color: #949494 ;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.user {
 display: flex;
 flex-direction: column;
 gap: 10px;
 margin-top: auto;
}

div.left-bar div.user img {
    width: 30px;
    opacity: 0.5;
}

div.left-bar div.user div {
    display: flex;
    align-items: center;
    gap: 7px;
}

div.circle img {
    height: 22px;   
}

div.left-bar div.menu img {
    opacity: 0.5;
}

/* Main right-section */

.right-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.up-right {
    height: 90px;
    background-color: rgba(8, 11, 18, 0.9);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
    flex-shrink: 0;
}

.music {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.type {
    text-transform: uppercase;
    color: #7d7f84 ;
    font-size: 12px;
    font-weight: bold;
}

div.type ul {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

div.type ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3px
}

div.type ul li hr{
    border: 0;
    background-color: transparent;
    height: 2px;
    width: 30px;
}


.play {
    display: flex;
    flex-direction: column;
    padding: 0 17px;
    gap: 20px
}

div.play ul {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

div.play ul li {
    width: calc((100% - 20px)/ 2) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

div.play ul li img {
    display: block;
    width: 100%;
    position: relative;
}

div.play ul h3, h2 {
    color: #FFFFFF;   
}

div.play p {
    color: #7d7f84;
    font-weight: bold;
    margin-top: 10px;
}

.ready {
    position: relative;
}

div.play ul li div.ready div.ready-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
}



/* Utilities */

.hidden {
    display: none;
}

.hidden-mobile {
    display: block;
}

.add-playlist {
    width: 35px;
    height: 35px;
    background-color: #858585;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
}

div.left-bar span {
    color: #949494 ;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #858585;
    border-radius: 50%;
    background-image: url(../../img/profile.svg);
}

.upgrade-button {
    padding: 15px 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 25px;
}

.img-circle {
    border-radius: 50%;
}

/* Hover */

div.type ul li:hover hr{
    background-color: #b1f840;
}

div.type ul li:hover {
    color: #FFFFFF;
    cursor: pointer;
}

div.play ul li div.ready:hover div.ready-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-size: 50px;
}
div.left-bar div.menu div:hover span{
    color: #FFFFFF;
    cursor: pointer;
}

div.left-bar div.menu div:hover img {
    opacity: 1;
}

div.left-bar div.playlist div:hover div.add-playlist {
    background-color: #FFFFFF;
    cursor: pointer;
}

div.left-bar div.playlist div:hover span {
    color: #FFFFFF;
    cursor: pointer;
}

div.left-bar div.playlist div.list-playlist li:hover {
    color: #FFFFFF;
    cursor: pointer;
}

div.left-bar div.user div:hover span {
    color: #FFFFFF;
    cursor: pointer ;
}

div.left-bar div.user div:hover img {
    opacity: 1;
    cursor: pointer;
}

.upgrade-button:hover {
    transform: scale(1.1);
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

div.running-time:hover {
    display: block;
    border-radius: 8px;
    height: 4px;
    background-color: #b1f840;
    z-index: 2;
    cursor: pointer;
}

/* Footer */

footer {
    height: 90px;
    background-color: #282828;
    display: flex;
    font-size: 12px;
}

.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.song img {
    width: 30px;
    display: block;
}

.song h6 {
    font-weight: bold;
    color: #FFFFFF;
}

.song p {
    color: #7b7b7b;
}

.song div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.song div i {
    color: #7b7b7b;
}

.music-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-shrink: 0;
}

.change-song {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.minute {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.slide-bar {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.bar-minute {
    height: 4px;
    background-color: #5a5a5a;
    width: 100%;
    border-radius: 8px;
}

.running-time {
    position: absolute;
    display: none;
    width: 30%;
    left: 0;
    top: 0;
}


@media screen and (min-width: 576px) {

    .left-bar {
        height: calc(100vh - 90px);
        width: 230px;
        background-color: #000000;
        color: white;
        align-items: center; 
    }

    .left-bar div.menu div {
        border-left: 2px solid transparent ;
    }

    div.left-bar div.menu div:hover{
        border-left: 2px solid #b1f840;
    }
   
    .hidden {
        display: block;
    }

    .hidden-mobile {
        display: none;
    }

    .spotify-logo {
        width: 120px;
    }

    div.left-bar div.menu div {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    div.left-bar div.menu img {
        height: 30px;
        opacity: 0.5;
    }

    div.left-bar div.menu {
        margin-bottom: 33px;
    }

    div.left-bar h4 {
        margin-bottom: 20px;
    }

    div.left-bar div.user hr {
        background-color: #949494;
        height: 1px;
        border: 0;
    }
   
}

@media screen and (min-width: 768px) {
    div.play ul li {
        width: calc((100% - 40px)/ 4) ;
        display: flex;
        flex-direction: column;
        gap: 10px
    }
}


@media screen and (min-width: 992px) {

    div.play ul li {
        width: calc((100% - 60px)/ 6) ;
        display: flex;
        flex-direction: column;
        gap: 10px
    }
    
}


